includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    ignoreErrors:
        - '#MustVerifyEmail#'
        - identifier: missingType.generics

    paths:
        - app/

    # Level 9 is the highest level
    level: 7
